data/**/*.wav
data/**/*.flac
data/**/*.mp3
data/**/*.m4a
data/**/*.ogg
!data/**/.gitkeep
data/mixed/
data/mt/flores200_dataset.tar.gz
data/mt/raw/
outputs/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
third_party/zipformer/
src/**/*.onnx
src/**/*.onnx.json
venv_pipeline/
=*.*.*
